<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-xs-10"> <!-- blogs.scssで.wrapperを定義している -->
    <p><%= notice %></p>
    <h1>ブログ一覧</h1>
      <%= link_to "ブログを作成するだ", new_blog_path, class: 'btn btn-default' %>
    <% @blogs.each do |blog| %>
    <div class="row">
    　<div>
    　  <% unless blog.user_id.nil? %>
    　　<div class="blog_img"><%= profile_img(blog.user) if profile_img(blog.user) %></div>
    　　<%= blog.user.avatar %>
    　<% end %>
  　　</div>
      <%# modelでblogテーブルの一部のようにuserテーブルを使えるよう設定 %>
      <%# blogsのuser_id と　usersのidが勝手に関連してる（モデル_idで指定） %>
      <p><%= blog.user.try(:name) || "名無し" %><p>
      <h4><strong>タイトル:<%= blog.title %></strong></h4>
      
      <%= link_to blog_path(blog) do %>
        <h4><strong><%= blog.title %></strong></h4>
      <% end %>
      <p><%= blog.content %></p>
      <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>

    <div id="page-top-blog-btn" class="page-top-btn">
      <p><a class="move-page-top" id="move-page-blog-top">▲</a></p>
    </div>
    <% end %>
  </div>
</div>
